@use "utils" as *;

$bp-tablet: toRem(500px);
$bp-desktop: toRem(800px);

.card {
  border-radius: var(--sp-4);
  overflow: hidden;

  background-color: var(--clr-white);
  box-shadow: var(--bs-default);

  @media (min-width: $bp-tablet) {
    max-width: toRem(500px);
  }

  @media (min-width: $bp-desktop) {
    max-width: toRem(732px);
    display: grid;
    grid-template-columns: toRem(286px) 1fr;

    overflow: visible;
  }
}

.card-img img {
  @media (min-width: $bp-desktop) {
    height: 100%;
    object-fit: cover;

    border-top-left-radius: var(--sp-4);
    border-bottom-left-radius: var(--sp-4);
  }
}

.body-container {
  padding-inline: var(--sp-7);
  padding-block-start: var(--sp-7);
  padding-block-end: var(--sp-6);

  @media (min-width: $bp-desktop) {
    padding-inline: var(--sp-8);
    padding-block-end: var(--sp-5);
  }
}

.title {
  font-size: var(--fs-4);
  font-weight: var(--fw-bold);
  line-height: 1.2;

  margin-block-end: var(--sp-5);

  @media (min-width: $bp-desktop) {
    font-size: var(--fs-6);
    line-height: 1.3;
  }
}

.description {
  color: var(--clr-primary-tint-1);
}

.card-footer {
  position: relative;
}

.footer-container {
  padding-inline: var(--sp-7);
  padding-block: var(--sp-5);

  display: flex;
  align-items: center;
  gap: var(--sp-5);

  @media (min-width: $bp-desktop) {
    padding-inline: var(--sp-8);
  }
}

.author-img {
  width: toRem(50px);
  height: auto;

  border-radius: 50%;
  overflow: hidden;
}

.author-name {
  font-size: var(--fs-3);
  font-weight: var(--fw-bold);

  @media (min-width: $bp-desktop) {
    font-size: var(--fs-default);
  }
}

.author-date {
  color: var(--clr-primary-tint-1);
}

.btn-container {
  margin-left: auto;

  @media (min-width: $bp-desktop) {
    position: relative;
  }
}

.btn {
  position: relative;
  z-index: 999;
  cursor: pointer;

  border: none;
  background-color: var(--clr-primary-tint-3);
  width: toRem(40px);
  height: toRem(40px);
  border-radius: 50%;

  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn:hover,
.btn:active,
.btn.btn--active {
  background-color: var(--clr-primary-tint-2);
}

.btn-icon {
  color: var(--clr-icon);
}

.btn:hover .btn-icon,
.btn:hover .btn-icon,
.btn.btn--active .btn-icon {
  color: var(--clr-white);
}

.share {
  position: absolute;
  transform: translateY(100%);
  transition: transform 0.5s;
  pointer-events: none;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  padding-inline: var(--sp-7);

  background-color: var(--clr-primary);
  color: var(--clr-primary-tint-2);

  display: flex;
  align-items: center;
  gap: var(--sp-6);

  @media (min-width: $bp-desktop) {
    display: none;

    padding-block: var(--sp-5);
    border-radius: var(--sp-3);
  }
}

.share::after {
  @media (min-width: $bp-desktop) {
    position: absolute;
    content: "";
    top: 100%;
    left: 50%;
    transform: translateX(-50%);

    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid var(--clr-primary);
  }
}

.share.share--visible {
  pointer-events: auto;
  transform: translateY(0%);

  @media (min-width: $bp-desktop) {
    display: flex;

    top: 0;
    left: 50%;
    right: auto;
    bottom: auto;

    transform: translateY(calc(-100% - var(--sp-5))) translateX(-50%);
  }
}

.share-title {
  text-transform: uppercase;
  font-size: var(--fs-4);
  letter-spacing: var(--sp-2);

  @media (min-width: $bp-desktop) {
    font-size: var(--fs-3);
  }
}

.btn-share:link,
.btn-share:visited {
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}
