@use "utils" as *;

body {
  font-family: var(--ff-main), sans-serif;
  color: var(--clr-primary);
  font-size: var(--fs-default);
  font-weight: var(--fw-normal);
  line-height: 1.5;

  background-color: var(--clr-primary-tint-3);
}

.container {
  padding-inline: var(--sp-6);
  min-height: 100svh;

  display: flex;
  align-items: center;
  justify-content: center;
}
